.contacts{
    background: #373A3C ;   
    height: 395px;
    color: #FFFFFF;
    position: absolute;
    height: 395px;
    left: 0px;
    top: 2929px;
    width:100%;
}
.x-box-foot{
    position: absolute;
    height: 22px;
    left: 11.79%;
    right: 84.57%;
    top: calc(50% - 22px/2 - 128.5px);
    font-family: 'HelveticaNeue';
    font-size: 18px;
    line-height: 21px;
    color: #7DD42F;
}
.developers-foot{
    position: absolute;
    height: 22px;
    left: 39.36%;
    right: 53.64%;
    top: calc(50% - 22px/2 - 128.5px);
    font-family: 'HelveticaNeue';
    font-size: 18px;
    line-height: 21px;
    color: #7DD42F;
}
.folow-us-foot{
    position: absolute;
    height: 22px;
    left: 30%;
    right: 6.59%;
    top: calc(50% - 22px/2 - 128.5px);
    font-family: 'HelveticaNeue';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7DD42F;
}
.sup-foot{
    position: absolute;
    height: 17px;
    left: 11.79%;
    right: 84.57%;
    top: calc(50% - 17px/2 - 75px);
    font-family: 'HelveticaNeue';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.contac-foot{
    position: absolute;
    height: 17px;
    left: 11.79%;
    right: 83.29%;
    top: calc(50% - 17px/2 - 29px);
    font-family: 'HelveticaNeue';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.p-c-foot{
    position: absolute;
    height: 17px;
    left: 11.79%;
    right: 80.29%;
    top: calc(50% - 17px/2 + 16px);
    font-family: 'HelveticaNeue';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 111px;
}
.t-of-use-foot{
    position: absolute;
    height: 17px;
    left: 11.79%;
    right: 82.5%;
    top: calc(50% - 17px/2 + 62px);
    font-family: 'HelveticaNeue';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.games-foot{
    position: absolute;
    height: 17px;
    left: 39.36%;
    right: 57.43%;
    top: calc(50% - 17px/2 - 75px);
    font-family: 'HelveticaNeue';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.windows-foot{
    position: absolute;
    height: 17px;
    left: 39.36%;
    right: 55.07%;
    top: calc(50% - 17px/2 - 29px);
    font-family: 'HelveticaNeue';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.creat-foot{
    position: absolute;
    height: 17px;
    left: 39.36%;
    right: 52.64%;
    top: calc(50% - 17px/2 + 16px);
    font-family: 'HelveticaNeue';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.designed-foot{
    position: absolute;
    height: 17px;
    left: 39.36%;
    right: 51.93%;
    top: calc(50% - 17px/2 + 62px);
    font-family: 'HelveticaNeue';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 122px;
}
.eng-foot{position: absolute;
    height: 19px;
    left: 7.14%;
    right: 81.29%;
    top: calc(50% - 19px/2 + 150px);
    font-family: 'HelveticaNeue';
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;}
.microsoft-foot{
    position: absolute;
    height: 19px;
    left: 83.57%;
    right: 7.21%;
    top: calc(50% - 19px/2 + 150px);
    font-family: 'HelveticaNeue';
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.face-foot{
    position: absolute;
    left: 59%;
    right: 87.91%;
    top: 25%;
    bottom: 0%;
}
.twit-foot{
    position: absolute;
    left: 60.7%;
    right: 42.86%;
    top: 25%;
    bottom: 1.43%;
}
.inst-foot{
    position: absolute;
    left: 63%;
    right: 0%;
    top: 25%;
    bottom: 0%;
}
.line-foot{
    position: absolute;
    left: 7.14%;
    right: 7.14%;
    top: 80.25%;
    bottom: 19.24%;
    mix-blend-mode: normal;
    opacity: 0.35;
    border: 1px solid #FFFFFF;
    height: 2px;
    width: 1450px;
    top:317px;
    left:100px;
    opacity:35%;
}
